<section class="container animated fadeIn">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6 py">
      <div class="wall">
        <div class="title">{{ 'auth.reset-pass' | translate }}</div>
        <form [formGroup]="form" (ngSubmit)="submit(form)" novalidate>

          <div class="row form-group" [ngClass]="{'has-error':form.controls['old_password'].invalid && formSubmitted}">
            <label class="col-lg-3 form-label-inline" for="old_password">{{ 'auth.old-password' | translate }}:</label>
            <div class="col-lg-9">
              <div class="input-group">
                <input type="password" id="old_password" class="form-control" name="old_password" formControlName="old_password" placeholder="">
              </div>
              <div class="feedback" *ngIf="form.controls['old_password'].hasError('required') && formSubmitted">{{ 'forms.feedback.required' | translate }}</div>
              <div class="feedback" *ngIf="form.controls['old_password'].hasError('minlength') && formSubmitted">{{ 'forms.feedback.least' | translate:{least: 6} }}</div>
              <div class="feedback" *ngIf="form.controls['old_password'].hasError('maxlength') && formSubmitted">{{ 'forms.feedback.max' | translate:{max: 12} }}</div>
            </div>
          </div>

          <div class="row form-group" [ngClass]="{'has-error':form.controls['password'].invalid && formSubmitted}">
            <label class="col-lg-3 form-label-inline" for="password">{{ 'auth.new-pass' | translate }}:</label>
            <div class="col-lg-9">
              <div class="input-group">
                <input [type]="passInputType" id="password" class="form-control" name="password" formControlName="password" placeholder="">
                <div class="input-group-addon" [ngSwitch]="passInputType">
                  <div class="icon icon-eye" *ngSwitchCase="'password'" (click)="togglePasswordVisibility()" title="{{ 'auth.show-pass' | translate }}"></div>
                  <div class="icon icon-eye-slash" *ngSwitchCase="'text'" (click)="togglePasswordVisibility()" title="{{ 'auth.hide-pass' | translate }}"></div>
                </div>
              </div>
              <div class="feedback" *ngIf="form.controls['password'].hasError('required') && formSubmitted">{{ 'forms.feedback.required' | translate }}</div>
              <div class="feedback" *ngIf="form.controls['password'].hasError('minlength') && formSubmitted">{{ 'forms.feedback.least' | translate:{least: 6} }}</div>
              <div class="feedback" *ngIf="form.controls['password'].hasError('maxlength') && formSubmitted">{{ 'forms.feedback.max' | translate:{max: 12} }}</div>
            </div>
          </div>

          <div class="row form-group" [ngClass]="{'has-error':form.controls['confirm_password'].invalid && formSubmitted}">
            <label class="col-lg-3 form-label-inline" for="confirm_password">{{ 'auth.confirm-pass' | translate }}:</label>
            <div class="col-lg-9">
              <input [type]="passInputType" id="confirm_password" class="form-control" name="confirm_password" formControlName="confirm_password" placeholder="">
              <div class="feedback" *ngIf="form.controls['confirm_password'].hasError('notmatch') && formSubmitted">{{ 'forms.feedback.notmatch' | translate }}</div>
            </div>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="form.invalid && formSubmitted">{{ 'forms.submit' | translate }}</button>

        </form>
      </div>
    </div>
  </div>
</section>
