<section class="container animated fadeIn">
  <breadcrumb title="{{ 'admin.brand-list' | translate }}"></breadcrumb>

  <div class="row wall wall-sm mb">
    <div class="col-md-auto">
      <input class="search-input small text-center" type="text" [ngModel]="filters.search" (keyup)="search.pass($event, 'adminUserList')" placeholder="{{ 'search' | translate }}">
    </div>
    <div class="col-md">
    </div>
    <div class="col-md-auto">
      <button type="button" class="btn btn-sm" (click)="createBrand(true)">{{ 'brand.create' | translate }}</button>
    </div>
  </div>

  <div class="row wall mb">
    <div class="col">
      <div class="table-wrapper">
        <table class="table">
          <thead>
            <th class="sort-option" width="5%">{{ 'customer.row' | translate }}
            <th class="sort-option" width="10%">{{ 'brand.name' | translate }}
            <th class="sort-option" width="10%">{{ 'brand.wage' | translate }}
            <th class="sort-option" width="10%">{{ 'brand.adminuser' | translate }}</th>
            <th class="sort-option" width="20%">{{ 'brand.created_at' | translate }}</th>
            <th class="sort-option" width="60%">{{ 'brand.key' | translate }}</th>
            <th class="sort-option" width="10%">{{ 'brand.logo' | translate }}</th>
            <th class="sort-option" width="10%">{{ 'operation.edit.title' | translate }}</th>
            <!-- <th class="sort-option" width="40%" (click)="sort('username')">{{ 'user.username' | translate }} -->

              <!-- <div class="icon icon-caret-up" [hidden]="filters.sort !== '-username'"></div>
              <div class="icon icon-caret-down" [hidden]="filters.sort !== 'username'"></div> -->
          
            <th class="text-center">{{ 'operation.delete.title' | translate }}</th>
            
          </thead>
          <tbody>
            <tr *ngFor="let brand of brands;let index = index">
              <th>{{ ( (filters.page-1) * 10) + (index+1) }}</th>
              <th>{{ brand.name }}</th>
              <th>%{{ brand.wage }}</th>
              <th>{{ brand.adminuser }}</th>
              <th>{{ brand.created_at | jalali:'short' }}</th>
              <th>{{ brand.key }}</th>
              <td class="text-center">
                <img *ngIf="brand.logo != ''" class="table-logo" src="{{ brand.logo }}">
              </td>
              <td class="text-center">
                <div class="icon icon-edit tools edit" (click)="editBrand(brand)"></div>
              </td>
              <td class="text-center">
                <div class="icon icon-times-circle-o tools delete" (click)="deleteBrand(brand)"></div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr [hidden]="brands.length">
              <td class="text-center" colspan="6">
                <b>{{ 'list-empty' | translate }}</b>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="row pb">
    <div class="col">
      <pagination (callback)="getBrands($event)" [currentPage]="filters.page" [totalPages]="totalPages"></pagination>
    </div>
  </div>

</section>

<!-- <admin-reset-user-pass [user]="userToResetPass"></admin-reset-user-pass> -->
<admin-brand-delete [brand]="brandToDelete" (deleteFlag)="deleteBack($event)"></admin-brand-delete>
<admin-brand-create [open]="createBrandFlag" (flag)="createBrand($event)" ></admin-brand-create>
<admin-brand-edit [brand]="brandToEdit" (flag)="editBrandBack($event)" ></admin-brand-edit>
