<section [@toggle-modal]="modalState" class="modal">
  <div class="overlay" (click)="closeModal()"></div>
  <div class="wrapper wall" style="width: 40rem;">
    
      
      <div class="col-12">
        <div class="feedback txt-center" *ngIf="sapcInfo">
          <p>{{ 'sapc.delete_confirm' | translate}}</p>
          <p>{{ 'sapc.name' | translate}}: {{sapcInfo.name }}</p>
          <p>{{ 'sapc.card_number' | translate}}: {{sapcInfo.card_number }}</p>
          <br>
          <button type="submit" class="btn" (click)="submit()">{{ 'forms.submit' | translate }}</button>
          <button type="button" class="btn btn-danger" (click)="closeModal()">{{ 'forms.cancel' | translate }}</button>
        </div>
      </div>
  </div>
</section>
