<section class="container animated fadeIn">
  <breadcrumb title="{{ 'cardverification' | translate }}"></breadcrumb>



  <div class="row wall mb">
    <div class="col">
      <form class="row">

        <div class="col-3"></div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <div class="card">
              <div class="card">
                <div class="top">
                  <h2>{{ bankName }}</h2>
                </div>
                <div class="infos">
                  <section class="card-number txt-center">
                    <p>{{ 'cart-number' | translate }}</p>
                    <input type="string" id="card" class="form-control text-center" name="card" (ngModelChange)="submit($event)"
                      [(ngModel)]="cardNumber" placeholder="6037 9911 2222 3333" mask='9999  9999  9999  9999'>
                  </section>
                  <div class="bottom">
                    <aside class="infos--bottom">
                      <p>{{cardOwner}}</p>
                    </aside>
                    <aside>
                      <section>
                        <span *ngIf="validCard" class="icon icon-check-square-o success"></span>
                        <span *ngIf="!validCard" class="icon icon-times-circle-o failed"></span>
                      </section>
                    </aside>
                  </div>
                </div>
              </div>
            </div>
            <!-- <label class="form-label" for="card">{{ 'cart-number' | translate }}:</label>
          <input type="number" id="card" class="form-control" name="card"  placeholder=""> -->
          </div>
          <div *ngIf="cardMsg">
            <h4>{{'error-msg' | translate}} :</h4>
            {{cardMsg}}
          </div>
        </div>
        <div class="col-3">

        </div>

      </form>
    </div>
  </div>

</section>