<section class="container animated fadeIn">
  <breadcrumb title="{{ 'sidebar.withdraw' | translate }}"></breadcrumb>

  <div class="row wall wall-sm mb">
    <div class="col-md-auto">
      <!-- <input class="search-input small text-center" type="text" [ngModel]="filters.search" (keyup)="search.pass($event, 'adminUserList')" placeholder="{{ 'search' | translate }}"> -->
    </div>
    <div class="col-md">
    </div>
    <div class="col-md-auto">
      <button type="button" class="btn btn-sm" (click)="toggleAdvanceSearch()"><span class="advance-search">
          {{openAdvanceSearch == false ?"+":"-"}}</span> {{ 'advance-search' | translate }} </button>
    </div>
  </div>
  <div *ngIf="openAdvanceSearch" class="row wall mb">
    <div class="col-12">
      <div class="title">
        {{ 'advance-search' | translate }}
      </div>
      <hr>
    </div>
    <div class="col">

      <form class="row" [formGroup]="form" (ngSubmit)="getWD(form)" novalidate>

        <div class="col-lg-3">
          <div class="form-group" [ngClass]="{'has-error':form.controls['account'].invalid && formSubmited}">
            <label class="form-label" for="account"> {{ 'txn.account' | translate }}: </label>
            <input type="account" id="account" class="form-control" name="account" formControlName="account"
              placeholder="">
            <div class="feedback" *ngIf="form.controls['account'].hasError('required') && formSubmited">
              {{ 'forms.feedback.required' | translate }}</div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group" [ngClass]="{'has-error':form.controls['card'].invalid && formSubmited}">
            <label class="form-label" for="card"> {{ 'txn.card' | translate }}: </label>
            <input type="card" id="card" class="form-control" name="card" formControlName="card" placeholder="">
            <div class="feedback" *ngIf="form.controls['card'].hasError('required') && formSubmited">
              {{ 'forms.feedback.required' | translate }}</div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group" [ngClass]="{'has-error':form.controls['amount_s'].invalid && formSubmited}">
            <label class="form-label" for="amount_s"> {{ 'txn.amount' | translate }} {{'start'|translate}}: </label>
            <input type="number" id="amount_s-1" class="form-control" name="amount_s" formControlName="amount_s"
              placeholder="">
            <div class="feedback" *ngIf="form.controls['amount_s'].hasError('required') && formSubmited">
              {{ 'forms.feedback.required' | translate }}</div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group" [ngClass]="{'has-error':form.controls['amount_e'].invalid && formSubmited}">
            <label class="form-label" for="amount_e"> {{ 'txn.amount' | translate }} {{'end'|translate}}: </label>
            <input type="number" id="amount_e-1" class="form-control" name="amount_e" formControlName="amount_e"
              placeholder="">
            <div class="feedback" *ngIf="form.controls['amount_e'].hasError('required') && formSubmited">
              {{ 'forms.feedback.required' | translate }}</div>
          </div>
        </div>
        <div class="col-lg-3">

          <div class="form-group " [ngClass]="{'has-error':form.controls['created_at_s'].invalid && formSubmited}">
            <label class="form-label" for="created_at_s"> {{ 'txn.created_at' | translate }} {{'start'|translate}}:
            </label>
            <dp-date-picker [config]="datePickerConfig" onGoToCurrent id="open_time" name="open_time" dir="rtl"
              formControlName="created_at_s" class="ltr" theme="dp-material" mode="daytime" placeholder="">
            </dp-date-picker>
            <div class="feedback" *ngIf="form.controls['created_at_s'].hasError('required') && formSubmited">
              {{ 'forms.feedback.required' | translate }}</div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group" [ngClass]="{'has-error':form.controls['created_at_e'].invalid && formSubmited}">
            <label class="form-label" for="created_at_e"> {{ 'txn.created_at' | translate }} {{'end'|translate}}:
            </label>
            <dp-date-picker onGoToCurrent [config]="datePickerConfig" id="open_time2" name="open_time2" dir="rtl"
              class="ltr" formControlName="created_at_e" theme="dp-material" mode="daytime" placeholder="">
            </dp-date-picker>
            <div class="feedback" *ngIf="form.controls['created_at_e'].hasError('required') && formSubmited">
              {{ 'forms.feedback.required' | translate }}</div>
          </div>
        </div>
        <div *ngIf="userService.isAdmin()" class="col-lg-3">
          <div class="form-group" [ngClass]="{'has-error':form.controls['brand'].invalid && formSubmited}">
            <label class="form-label" for="brand"> {{ 'txn.brand' | translate }}: </label>
            <select formControlName="brand" class="form-control" name="brand">
              <option *ngFor="let brand of brands" [value]="brand._id"> {{brand.name}} </option>
            </select>
            <!-- <input type="brand" id="brand" class="form-control" name="brand" formControlName="brand" placeholder=""> -->
            <div class="feedback" *ngIf="form.controls['brand'].hasError('required') && formSubmited">
              {{ 'forms.feedback.required' | translate }}</div>
          </div>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
          <button type="submit" class="btn search-form"
            [disabled]="form.invalid && formSubmited">{{ 'search' | translate }}</button>
          <button type="button" class="btn btn-danger "
            (click)="toggleAdvanceSearch()">{{ 'forms.cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row wall mb">
    <div class="col">
      <div class="table-wrapper">
        <table class="table">
          <thead>
            <th>{{ 'customer.row' | translate }}
            <th>{{ 'txn.account' | translate }}
            <th *ngIf="userService.isAdmin()">{{ 'txn.brand_name' | translate }}</th>
            <th>{{ 'txn.created_at' | translate }}</th>
            <th>{{ 'txn.card' | translate }}</th>
            <th>{{ 'status' | translate }}</th>
            <th>{{ 'txn.amount' | translate }}
            <th>{{ 'txn.remaining' | translate }}</th>
            <th>{{ 'actions' | translate}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let txn of txns;let index = index"
            [class.bg-success-color]="txn.status==3"
            [class.bg-info-color]="txn.status==1||txn.status==2"
            [class.bg-warning-color]="txn.status==5"
            [class.bg-danger-color]="txn.status==6||txn.status==4"
            >
              <th>{{ ( (filters.page-1) * 10) + (index+1) }}</th>
              <th>{{ txn.account }}</th>
              <th *ngIf="userService.isAdmin()">{{ txn.brand_name }}</th>
              <th>{{ txn.created_at | jalali:'middle' }}</th>
              <th>{{ txn.card }}</th>
              <th>{{ status(txn.status) | translate }}</th>
              <th>{{ txn.amount |number }}</th>
              <th>{{ txn.remaining|number }}</th>
              <th>
                <span *ngIf="!txn.done" class="icon icon-handshake-o tools" (click)="manualPay(txn._id)" title="{{'txn.manual'|translate}}"></span>
                <span *ngIf="!txn.done" class="icon icon-power-off tools delete" (click)="rejectPay(txn._id)" title="{{'txn.reject'|translate}}"></span>
              </th>
            </tr>
          </tbody>
          <tfoot>
            <tr [hidden]="txns.length">
              <td class="text-center" colspan="6">
                <b>{{ 'list-empty' | translate }}</b>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="row pb">
    <div class="col">
      <pagination (callback)="getWDPagination($event)" [currentPage]="filters.page" [totalPages]="totalPages">
      </pagination>
    </div>
  </div>

</section>
<app-confirm [open]="openConfirm" (flag)="confirmResult($event)"></app-confirm>