<section [@toggle-modal]="modalState" class="modal">
  <div class="overlay" (click)="closeModal()"></div>
  <div class="wrapper wall" style="width: 70rem;">
    
    <form class="row" [formGroup]="form" (ngSubmit)="submit(form)" novalidate>
      <div class="col-12">
        <h4 class="txt-center">{{ 'apc.create' | translate }}</h4>
        <br><br>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['name'].invalid && formSubmited}">
          <label class="form-label" for="name">{{ 'apc.name' | translate }}:</label>
          <input type="string" id="name" class="form-control" name="name" formControlName="name" placeholder="">
          <div class="feedback" *ngIf="form.controls['name'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['card_number'].invalid && formSubmited}">
          <label class="form-label" for="card_number">{{ 'apc.card_number' | translate }}:</label>
          <input type="string" id="card_number" class="form-control" name="card_number"  formControlName="card_number" placeholder="">
          <div class="feedback" *ngIf="form.controls['card_number'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
          <div class="feedback" *ngIf="form.controls['card_number'].hasError('wrongCard') && formSubmited">{{ 'forms.feedback.wrong-card' | translate }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['sheba_no'].invalid && formSubmited}">
          <label class="form-label" for="sheba_no">{{ 'apc.sheba_no' | translate }}:</label>
          <input type="string" id="sheba_no" class="form-control" name="sheba_no"  formControlName="sheba_no" placeholder="">
          <div class="feedback" *ngIf="form.controls['sheba_no'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
          <div class="feedback" *ngIf="form.controls['sheba_no'].hasError('wrongCard') && formSubmited">{{ 'forms.feedback.wrong-card' | translate }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['account_no'].invalid && formSubmited}">
          <label class="form-label" for="account_no">{{ 'apc.account_no' | translate }}:</label>
          <input type="string" id="account_no" class="form-control" name="account_no"  formControlName="account_no" placeholder="">
          <div class="feedback" *ngIf="form.controls['account_no'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
          <div class="feedback" *ngIf="form.controls['account_no'].hasError('wrongCard') && formSubmited">{{ 'forms.feedback.wrong-card' | translate }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['psp'].invalid && formSubmited}">
          <label class="form-label" for="psp">{{ 'apc.psp' | translate }}:</label>
          <select formControlName="psp" class="form-control" name="psp" (change)="selectchange($event)">
            <option *ngFor="let psp of psps" [value]="psp.psp"> {{psp.title}} </option>
          </select>
          <div class="feedback" *ngIf="form.controls['psp'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
          <div class="feedback" *ngIf="form.controls['psp'].hasError('wrongCard') && formSubmited">{{ 'forms.feedback.wrong-card' | translate }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['username'].invalid && formSubmited}">
          <label class="form-label" for="username">{{ 'sapc.username' | translate }}:</label>
          <input type="string" id="username" class="form-control" name="username" formControlName="username" placeholder="">
          <div class="feedback" *ngIf="form.controls['username'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['password'].invalid && formSubmited}">
          <label class="form-label" for="password">{{ 'sapc.password' | translate }}:</label>
          <input type="string" id="password" class="form-control" name="password" formControlName="password" placeholder="">
          <div class="feedback" *ngIf="form.controls['password'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['active'].invalid && formSubmited}">
          <label class="form-label" for="active">{{ 'sapc.active' | translate }}:</label>
          <input id="field-toggle1" class="field-toggle" type="checkbox" [checked]="form.controls['active']" formControlName="active"  >          
          <div class="feedback" *ngIf="form.controls['active'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':form.controls['current'].invalid && formSubmited}">
          <label class="form-label" for="current">{{ 'sapc.current' | translate }}:</label>
          <input id="field-toggle2" class="field-toggle" type="checkbox" [checked]="form.controls['current']" formControlName="current"  >          
          <div class="feedback" *ngIf="form.controls['current'].hasError('required') && formSubmited">{{ 'forms.feedback.required' | translate }}</div>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn" [disabled]="form.invalid && formSubmited">{{ 'forms.submit' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">{{ 'forms.cancel' | translate }}</button>
      </div>
    </form>
  </div>
</section>
