
.card {
  display: flex;
  justify-content: center;
.title {
  text-align: center;
  margin-top: 55px;
  color: #fff;
  font-size: 25px;
}

.card {
  position: relative;
  width: 296px;
  height: 188px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 16px;
  border: solid 4px rgba(255, 255, 255, 0.1);

  background-image: url("../../static/images/card-background.webp");
  background-position: center;
  background-size: cover;

  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 11px;
}

p {
  font-size: 1.4rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.top,
.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom{
  height: 2rem;
  color: black;
}
.top img {
  width: 20px;
}

.brand {
  height: 20px;
  mix-blend-mode: overlay;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infos--bottom {
  display: flex;
  gap: 20px;
}

.card-number {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
  .form-control{
    background: inherit;
    border: 0;
    color: black;
    font-size: 2rem;
    direction: ltr;
    padding: 1.2rem;
  }
  .form-control::placeholder{
    color: gray;
  }
}