<div class="row flex-nowrap no-gutters h-100">
  <main class="col h-100">
    <router-outlet></router-outlet>
  </main>
  <div id="admin-nav" class="col-md-auto col-sm-hidden">
    <!-- <ul>
      <li>
        <a routerLink="/management/store" [routerLinkActive]="['active']">
          <div class="icon icon-store"></div>{{ 'admin.store-list' | translate }}</a>
      </li>
      <li>
        <a routerLink="/management/user" [routerLinkActive]="['active']">
          <div class="icon icon-users"></div>{{ 'admin.user-list' | translate }}</a>
      </li>
      <li>
        <a routerLink="/management/product" [routerLinkActive]="['active']">
          <div class="icon icon-product"></div>{{ 'admin.product-list' | translate }}</a>
      </li>
      <li>
        <a routerLink="/management/order" [routerLinkActive]="['active']">
          <div class="icon icon-order"></div>{{ 'admin.order-list' | translate }}</a>
      </li>
      <li>
        <a routerLink="/management/contact" [routerLinkActive]="['active']">
          <div class="icon icon-mail"></div>{{ 'admin.contact-list' | translate }}</a>
      </li>
      <li>
        <a routerLink="/management/support" [routerLinkActive]="['active']">
          <div class="icon icon-question-circle"></div>{{ 'admin.support-list' | translate }}</a>
      </li>
      <li>
        <a routerLink="/plan/list" [routerLinkActive]="['active']">
          <div class="icon icon-bulb"></div>{{ 'plan.list' | translate }}</a>
      </li>
    </ul> -->
  </div>
</div>
